_/
data/
DL_Group37_LiteratureReview.xlsx
DL_Group37_Report.docx

# Created by .ignore support plugin (hsz.mobi)
# Source: https://gist.github.com/MOOOWOOO/3cf91616c9f3bbc3d1339adfc707b08a
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*Zone.Identifier
**/*zip

# virtualenv
tf218/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# idea folder, uncomment if you don't need it
.idea/
checkpoint.keras
metrics.csv
2_Modeling_Baseline Model_DLProject_Group37.html
2_ImagePreprocessing&DataAugmentation_DLProject_Group37.html
keras_tuner_dir/
ReportSchemas/

# Cannot save .keras Callbacks because of the size of the file
**/*.keras
**/*.html
links.txt
